/* App.css */

.app {
    background-image: url('https://raw.githubusercontent.com/TylerPottsDev/weather-react/master/src/assets/cold-bg.jpg');
    background-position: bottom;
    transition: 0.4s ease;
}

.app-warm {
    background-image: url('https://raw.githubusercontent.com/TylerPottsDev/weather-react/master/src/assets/warm-bg.jpg');
    background-position: bottom;
    transition: 0.4s ease;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    padding: 25px;
}

.search-box {
    display: flex;
    flex-direction: column;
    margin: 0 0 75px;
    align-items: center;
}

.search-btn {
    outline: none;
    transition: all .5s;
    padding: 10px 100px;
    margin-top: 20px;
    color: #FFF;
    background-color: #222;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 50px;
}

.search-btn:hover {
    background-color: rgb(5, 5, 78);
    color: rgb(0, 225, 255);
}

.select-container {
    width: 100%;
    margin-bottom: 20px;
}

.location-box .location {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .message {
    color: rgb(112, 39, 39);
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.location-box .date {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.flex-center {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    justify-content: space-evenly;
}