.loader-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.loader-container.active {
    display: flex !important;
}

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #f1f1f1;
    overflow: hidden;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 1), 10px 10px 10px rgba(0, 0, 0, 0.1), inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.loader::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background-color: #f1f1f1;
    border-radius: 50%;
    border: 4px solid #f1f1f1;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    z-index: -1;
    filter: blur(20px);
    animation: animate 0.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-message {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #333;
}

.loader-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #aaa;
    opacity: .7;
    z-index: -2;
}

@media only screen and (max-width:1000px) {
    .loader-message {
        font-size: 25px;
    }
}

@media only screen and (max-width:700px) {
    .loader-message {
        margin-bottom: 25px;
        margin-left: 0;
        font-size: 20px;
    }
    .loader-container {
        flex-direction: column;
    }
    .loader {
        width: 150px;
        height: 150px;
    }
}